<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webrtc Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="assets1/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="assets1/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="assets1/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="assets1/css/style.css">
    <!-- Alertify Css code -->
    <link rel="stylesheet" href="assets/alertify/alertify.core.css?v=5.17.1" />
    <link rel="stylesheet" href="assets/alertify/alertify.default.css?v=5.17.1" />
    <link rel="stylesheet" href="assets/alertify/toastr.css?v=5.17.1" type="text/css" />
    <link rel="stylesheet" href="alertify.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
    <!-- Alertify Javascript code -->
    <script src="assets/alertify/alertify.min.js?v=5.17.1"></script>
    <script src="assets/alertify/modernizr.js?v=5.17.1"></script>
    <script src="assets/alertify/toastr.js?v=5.17.1"></script>
    <script type="text/javascript" src="assets/sipjs/all_constant.js?v=5.17.1"></script>
    <div id="toasts"></div>
    <style>
    
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(assets/images/404.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
    </style>
    
        
</head>

<body style="background: #fff;">

    
    <section class="page_404">
        <div class="container">
            <div class="row">	
            <div class="col-sm-12 text-center">
            <div class="four_zero_four_bg">
                <h1 class="text-center ">Page Not Found</h1>
            
            
            </div>
            
            <div class="contant_box_404">
            <h3 class="h2">
            Look like you're lost
            </h3>
            
            <p>the page you are looking for not avaible!</p>
            
            <a href="" class="link_404">Go to Home</a>
        </div>
    
            </div>
            </div>
        </div>
    </section>
</body>

</html>