<% if(num_rows>0){ %>
  <table class="table table-hover" style="cellpadding:5px; cellspacing:5px">
    <thead style="background-color: #ffffffbf;">
    <tr>
		<% 
		 crm_field.forEach(name => { %>
		  <th style="border:none;" nowrap><%= name %></th>
		 <% }); %>
		%>
    </tr>
    </thead>
    <tbody>                                               
    <% if (rows && rows.length) {
	rows.forEach(row => { %>
    <tr>
       <% 
      for (let key in row) { 
		%>
			<td nowrap><%= row[key] %></td>
		<% 
      }
		%>
     </tr>
	<% }); %>
    <% } else { %>
	<tr>
    <td colspan="2"></td>
	</tr>
   <% } %>
   </tbody>
   </table>
   <% } else { %>
    <p style="color: red;">No data found...!</p>
   <% } %>
  