<header class="navbar pcoded-header navbar-expand-lg navbar-light">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        <a href="dashboard" class="b-brand">
            <div class="b-bg">

            </div>
            <span><img src="assets1/images/logo.png" /></span>

        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown" style="width: 300px;">
                <label>Campaignlist:</label>
                <select class="form-control" aria-label="Default select example" id="campaign">
                    <option selected>Select Campaign</option>
                        
                </select>
            </li>
            <li class="nav-item dropdown" style="width: 300px;">
                <label>Mode:</label>
                <div id="res_user_mode">
                <select class="form-control" name="user-mode" id="user-mode">
                    <option value="">Select UserMode</option>
                    
                 </select>
                </div> 
            </li>

            <li class="nav-item">
                <div class="main-search">
                    <div class="input-group">
                        <button type="button" id="set-campaign" class="btn btn-primary" >Save</button>
                        
                    </div>
                </div>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
            <li style="color: #111;" >
                <a href="javascript:void(0)">
                    <b style="display: inline;">CS</b></a>
             </li>
            <li style="color: #111;" >
               <a href="javascript:void(0)">
			   <div class="circle-button cs red" id="cs_status" title="CS Status"></div></a>
            </li>
            <li style="color: #111;" >
                <a href="javascript:void(0)">
                    <b style="display: inline;">SIP</b></a>
             </li>
			<li style="color: #111;">
                <!--<a href="javascript:void(0)" onclick='sipUnRegister();' id="btnUnRegister"  title="Click to unregister"></span><i id="green" class="fas fa-circle text-c-green f-10 m-r-15" style="display:none;"></i></a>
              <a href="javascript:void(0)" onclick='sipRegister();' id="btnRegister" title="Click to register"><i id="red" class="fas fa-circle text-c-red f-10 m-r-15"></i></a>--->
               <a href="javascript:void(0)" id="btnUnRegister"  title="Unregister"></span><i id="green" class="fas fa-circle text-c-green f-10 m-r-15" style="display:none;"></i></a>
                <a href="javascript:void(0)" id="btnRegister" title="Ready"><i id="red" class="fas fa-circle text-c-red f-10 m-r-15"></i></a>
              
               
                <!-- <i class="fas fa-circle text-c-red f-10 m-r-15"></i> -->
            </li>
            <li>
			
                <div class="dropdown drp-user">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon feather icon-settings"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head">
                            <img src="assets1/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                            <span id="aname"><% if(session.client_id) { %><%= session.username  %><% } %></span><br>
                            <!--<span><small>Agent Id : PARA345255346</small></span>-->
                            <a href="javascript:void(0)"  onclick='logout_agent();' id="btnUnRegister" class="dud-logout" title="Logout">
                                <i class="feather icon-log-out"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
        <script>
            var_settimeout = setInterval(function () {
                call_logut();}, 2000);
            function call_logut(){
                let sess_client_id='<%= session.client_id  %>';
                let sess_username='<%= session.username  %>';
                //console.log(" sess_client_id= "+sess_client_id+" sess_username= "+sess_username);
                if(sess_client_id=='' || sess_username=='')
                {
                    location.replace("/");
                }
                    
               
            }
        </script>
    </div>
</header>