<header class="navbar pcoded-header navbar-expand-lg navbar-light">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        <a href="dashboard" class="b-brand">
            <div class="b-bg">

            </div>
            <span><img src="assets1/images/logo.png" /></span>

        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        
        <ul class="navbar-nav mr-auto header_part" style="display: none;">

            <li>
                <div id="Autodispose_timer"></div>
            </li>
            <li style="padding-right: 10px;">
                <h6 class="mb-0"><b>Phone ID</b></h6>
                <h6 style="font-size: 12px;" id="crm_phone_number"></h6>
                <input type="hidden" id="dial_crm_number">
            </li>

            <li style="padding-right: 10px;">
                <h6 class="mb-0"><b>Customer ID</b></h6>
                <h6 style="font-size: 12px;" id="crm_rid"></h6>
            </li>
            <li style="padding-right: 10px;">
                <h6 class="mb-0"><b>DID</b></h6>
                <h6 style="font-size: 12px;" id="crm_did_name"></h6>
            </li>
            <li style="padding-right: 10px;" id="show_did_name">
                <h6 class="mb-0"><b>DID Name </b></h6>
                <h6 style="font-size: 12px;" id="webrtct_did_name"></h6>
            </li>
            <li style="padding-right: 10px;">
                <h6 class="mb-0"><b>Skill Set</b></h6>
                <h6 style="font-size: 12px;" id="crm_skill"> </h6>
            </li>
            
        </ul>
        <ul class="navbar-nav mr-auto">

            <li style="padding-right: 10px;">
                <h6 class="mb-0"><b>Camp Queue</b></h6>
                <h6 style="font-size: 18px; text-align: center;"><span class="badge badge-dark" id="crm_queue">0</span></h6>
            </li>
            <li style="padding-right: 50px;">
                <h6 class="mb-0"><b>Skill Queue</b></h6>
                <h6 style="font-size: 18px; text-align: center;"><span class="badge badge-dark" id="crm_skill_queue">0</span></h6>
            </li>
            
        </ul>
        
        <ul class="navbar-nav ml-auto">
            <li style="color: #111;" >
                <a href="javascript:void(0)">
                    <b style="display: inline;" id="calling_status"></b></a>
             </li>
             <li style="color: #111;" >
                <a href="javascript:void(0)">
                    <b style="display: inline;">CS</b></a>
             </li>
            <li style="color: #111;" >
               <a href="javascript:void(0)" onclick="socket_url();">
			   <div class="circle-button cs red" id="cs_status" title="CS Status"><img src="images/thumb.png" id="show_thumb" style="display: none;"></div></a>
            </li>
            <li style="color: #111;" >
                <a href="javascript:void(0)" onclick="asterisk_url();">
                    <b style="display: inline;">SIP</b></a>
             </li>
			<li style="color: #111;">
               <a href="javascript:void(0)"  onclick="asterisk_url();" id="dereglink" class="dotOnline"  title="Online" style="display:none"></a>
                <a href="javascript:void(0)"  onclick="asterisk_url();" id="reglink" title="Offline" class="dotOffline" style="display:none"></a>
                <a href="javascript:void(0)"  onclick="asterisk_url();" id="WebRtcFailed" class="dotFailed" ></a>
            </li>
            <li>
			
                <div class="dropdown drp-user">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon feather icon-settings"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head">
                            <img src="assets1/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                            <span id="aname"><% if(session.client_id) { %><%= session.username  %><% } %></span><br>
                            <!--<span><small>Agent Id : PARA345255346</small></span>-->
                            <a href="javascript:void(0)"  onclick='logout_agent();' id="btnUnRegister" class="dud-logout" title="Logout">
                                <i class="feather icon-log-out"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </li>
        </ul>
        <script>
            var_settimeout = setInterval(function () {
                call_logut();}, 2000);
            function call_logut(){
                let sess_client_id='<%= session.client_id  %>';
                let sess_username='<%= session.username  %>';
                console.log(" sess_client_id= "+sess_client_id+" sess_username= "+sess_username);
                if(sess_client_id=='' || sess_username=='')
                {
                    logout();
                }
                    
               
            }
        </script>
    </div>
</header>